In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("spam_email.csv")
data

,subject,message,label
0,job posting - apple-iss research center,content - length : 3386 apple-iss research cen...,0
1,NaN,"lang classification grimes , joseph e . and ba...",0
2,query : letter frequencies for text identifica...,i am posting this inquiry for sergei atamas ( ...,0
3,risk,a colleague and i are researching the differin...,0
4,request book information,earlier this morning i was on the phone with a...,0
...,...,...,...
2888,love your profile - ysuolvpv,hello thanks for stopping by ! ! we have taken...,1
2889,you have been asked to join kiddin,"the list owner of : "" kiddin "" has invited you...",1
2890,anglicization of composers ' names,"judging from the return post , i must have sou...",0
2891,"re : 6 . 797 , comparative method : n - ary co...",gotcha ! there are two separate fallacies in t...,0
2892,re : american - english in australia,hello ! i ' m working on a thesis concerning a...,0

In [3]:
data.head(5)

,subject,message,label
0,job posting - apple-iss research center,content - length : 3386 apple-iss research cen...,0
1,NaN,"lang classification grimes , joseph e . and ba...",0
2,query : letter frequencies for text identifica...,i am posting this inquiry for sergei atamas ( ...,0
3,risk,a colleague and i are researching the differin...,0
4,request book information,earlier this morning i was on the phone with a...,0

In [4]:
data['label'].value_counts()

0    2412
1     481
Name: label, dtype: int64

In [5]:
data.drop(['subject'],axis=1, inplace= True)

In [6]:
data.isnull().sum()

message    0
label      0
dtype: int64

In [7]:
data.columns

Index(['message', 'label'], dtype='object')

# Separate X and Y

In [8]:
x=data.message.values

In [9]:
y=data.label.values

# split dataset

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
xtrain, xtest, ytrain, ytest= train_test_split(x,y, test_size=0.2)

# Data Preprocessing

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
cv=CountVectorizer()
x_train=cv.fit_transform(xtrain)

In [14]:
x_train.toarray()

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# ML algorithum

In [15]:
from sklearn.naive_bayes import MultinomialNB

In [16]:
model= MultinomialNB()

In [17]:
model.fit(x_train, ytrain)

MultinomialNB()

In [18]:
x_test= cv.transform(xtest)

In [22]:
x_test.toarray()

MemoryError: Unable to allocate 235. MiB for an array with shape (579, 53286) and data type int64

In [20]:
model.score(x_test,ytest)

0.9948186528497409